<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Player</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  
  <ion-content>
      
    <video id="player"></video><!--hls.js - устанавливаем для возпроизведения видео   //npm i hls.js --save-->
  
  </ion-content>