.channel {
    display: flex;
    align-items: center; 
    &__logo {
        border-radius: 0;
        object-fit: contain;
    }

    &__name {        
        display: flex;
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 60%;
    }
}