<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Передачи
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <tvshow [tvshow]="item" *ngFor="let item of tvshows"></tvshow>
    <not-found *ngIf="!isHaveData"></not-found>
</ion-content>