<ion-content>
    <ion-content class="notFound">
        На этом канале ничего нет.
        <ion-toolbar color="lightgray">
                <ion-buttons slot="start">
                    <ion-button (click)="goBack()">На главную</ion-button>
                </ion-buttons>
            </ion-toolbar>
    </ion-content>

    
</ion-content>